* {
  margin: 0;
  padding: 0;
}

$main-bg-color: rgb(56, 56, 56);
$bg-color: rgb(150, 150, 150);
$main-color: rgb(0, 0, 0);
$secondary-color: blue;
$width: 100%;
$height: 220px;
$font-family: Arial, Helvetica, sans-serif;
$font-color: black;

//Header

header {
  background-color: $main-bg-color;
  width: $width;
  height: $height;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Main

main {
  width: $width;
  height: 150%;
  background-color: $bg-color;
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto auto auto;
  justify-content: center;
}

.articulos {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.imagenes {
  width: 36%;
  height: 80%;
}

h2 {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
}

//Footer

footer {
  width: 100%;
  height: 50px;
  background-color: $main-bg-color;
}

.cop {
  color: $bg-color;
  background-color: $main-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

//--------------------

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px,
);

@mixin MediaQuery($medida) {
  $valor: map-get($breakpoints, $medida);
  @media screen and (min-width: $valor) {
    @content;
  }
}

body {
  @include MediaQuery('xs') {
    main {
      height: 100%;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      flex-flow: column;
    }

    p {
      font-size: 10px;
    }

    .articulos {
      gap: 25px;
    }
    

  }

  @include MediaQuery('sm') {
    main {
      height: 160%;
      grid-template-columns: auto;
      grid-template-rows: auto;
      flex-flow: column;
    }

    p {
      font-size: 12px;
    }

    .articulos {
      gap: 50px;
    }
  }

  @include MediaQuery('md') {
    main {
      height: 160%;
      grid-template-columns: 100%;
      grid-template-rows: auto;
    }

    p {
      font-size: 12px;
    }

    .articulos {
      gap: 50px;
    }
  }

  @include MediaQuery('lg') {
    main {
      height: 150%;
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
    }

    p {
      font-size: 18px;
    }
  }

  @include MediaQuery('xl') {
    main {
      grid-template-columns: 85%;
    }

    p {
      font-size: 18px;
    }
  }
}